@import "tailwindcss";

@font-face {
  font-family: "Barlow";
  src: url("/fonts/Barlow-Reguler.ttf");
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Reguler.ttf");
}

body {
  font-family: "Barlow", sans-serif;
}